# Razorpay keys — from Razorpay dashboard (Test mode)
RAZORPAY_KEY_ID=rzp_test_your_key_id_here
RAZORPAY_KEY_SECRET=your_key_secret_here
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret_here

# Order service — to update order status after payment
ORDER_SERVICE_URL=http://localhost:8003

# Internal API key — same as other services
INTERNAL_API_KEY=your-internal-api-key-here

# Redis
REDIS_URL=redis://localhost:6379

# PostgreSQL
DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/payment_db

DJANGO_DEBUG=True