# Auth service URL — used to verify JWTs
AUTH_SERVICE_URL=http://localhost:8001

# Product service URL — used to check stock
PRODUCT_SERVICE_URL=http://localhost:8002

# Payment service URL — used to initiate payment
PAYMENT_SERVICE_URL=http://localhost:8003

# Internal API key — must match product_service .env
INTERNAL_API_KEY=your-internal-api-key-here

# Redis URL — message broker
REDIS_URL=redis://localhost:6379

# PostgreSQL — separate DB
DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/order_db

DJANGO_DEBUG=True