# PostgreSQL
DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/notification_db

# Redis
REDIS_URL=redis://localhost:6379

# Gmail SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your-gmail@gmail.com
SMTP_PASSWORD=your-16-char-app-password

# Sender display name
EMAIL_FROM_NAME=Voltex

DJANGO_DEBUG=True